USE [BPL]
GO
/****** Object:  Table [Acc].[ClientsInformation]    Script Date: 26/12/2023 9:39:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acc].[ClientsInformation](
	[ClientCode] [nvarchar](5) NULL,
	[ClientName] [nvarchar](255) NULL,
	[ClientAddress] [nvarchar](100) NULL,
	[ClientCatagory] [nvarchar](50) NULL,
	[Thana Code] [nvarchar](10) NULL,
	[Zilla Code] [nvarchar](3) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Web] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[Account Code] [nvarchar](7) NULL,
	[Status] [nvarchar](50) NULL,
	[SL] [nvarchar](50) NULL,
	[Consern] [nvarchar](50) NULL,
	[CompanyID] [nvarchar](10) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddUserID] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditUserID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Inv].[LoadingUnloadingLabourBilllDetail]    Script Date: 26/12/2023 9:39:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inv].[LoadingUnloadingLabourBilllDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BillNo] [nvarchar](20) NOT NULL,
	[TrackNo] [nvarchar](50) NULL,
	[TotalBill] [decimal](18, 2) NULL,
	[OtherBill] [decimal](18, 2) NULL,
	[RollQty] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[DeliveryDate] [datetime] NULL,
	[DeliveryTime] [nvarchar](20) NULL,
	[RollQtyInKG] [decimal](18, 2) NULL,
	[PRMemoNo] [nvarchar](20) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddUserID] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoadingUnloadingLabourBilllDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inv].[LoadingUnloadingLabourBilllInformation]    Script Date: 26/12/2023 9:39:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inv].[LoadingUnloadingLabourBilllInformation](
	[BillNo] [nvarchar](20) NOT NULL,
	[BillDate] [datetime] NULL,
	[ClientCode] [nvarchar](20) NULL,
	[DeliveryDate] [datetime] NULL,
	[DeliveryTime] [nvarchar](20) NULL,
	[Driver Name] [nvarchar](80) NULL,
	[Remarks] [nvarchar](max) NULL,
	[Paper Supplier Code] [nvarchar](20) NULL,
	[Total Chalan Qty] [int] NULL,
	[SupplierSerial] [nvarchar](20) NULL,
	[ReceiverAddress] [nvarchar](max) NULL,
	[Roll Qty in KG] [int] NULL,
	[Paper Size] [nvarchar](50) NULL,
	[Paper brand] [nvarchar](50) NULL,
	[Paper Code] [nvarchar](50) NULL,
	[PR Memo No] [nvarchar](50) NULL,
	[Paper Type] [nvarchar](50) NULL,
	[ChalanNo] [nvarchar](50) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddUserID] [nvarchar](50) NULL,
	[EditDate] [smalldatetime] NULL,
	[EditUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoadingUnloadingLabourBilllInformation] PRIMARY KEY CLUSTERED 
(
	[BillNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [prd].[PaperInfo]    Script Date: 26/12/2023 9:39:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[PaperInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PaperCode] [nvarchar](24) NOT NULL,
	[PaperName] [nvarchar](50) NULL,
	[PaperType] [nvarchar](50) NULL,
	[PaperSize] [nvarchar](25) NULL,
	[PaperWeight] [nvarchar](15) NULL,
	[PaperBrnad] [nvarchar](20) NULL,
	[Origin] [nvarchar](20) NULL,
	[PaperUnitPrice] [decimal](18, 2) NULL,
	[MaxPrice] [decimal](18, 2) NULL,
	[MinPrice] [decimal](18, 2) NULL,
	[AvgPrice] [decimal](18, 2) NULL,
	[PaperUnit] [nvarchar](10) NULL,
	[PaperUnitFactor] [decimal](18, 2) NULL,
	[PaerUse] [nvarchar](50) NULL,
	[Done] [bit] NULL,
	[PaperCategory] [nvarchar](50) NULL,
	[OriginType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[UserProject] [nvarchar](250) NULL,
	[UseFor] [nvarchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[CreateUserId] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [nvarchar](50) NULL,
	[UniCode] [nvarchar](50) NULL,
	[Group] [nvarchar](250) NULL,
	[CompanyID] [nvarchar](10) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddUserID] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaperInfo] PRIMARY KEY CLUSTERED 
(
	[PaperCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prd].[PaperSupplierInfo]    Script Date: 26/12/2023 9:39:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prd].[PaperSupplierInfo](
	[PaperSupplierCode] [nvarchar](20) NOT NULL,
	[PaperSupplierName] [nvarchar](80) NULL,
	[PaperSupplierNameB] [nvarchar](80) NULL,
	[SupplierType] [nvarchar](20) NULL,
	[PaperSupplierAddress] [nvarchar](max) NULL,
	[PaperSupplierTelephone] [nvarchar](25) NOT NULL,
	[PaperSupplierProprietor] [nvarchar](80) NULL,
	[AccountCode] [nvarchar](20) NULL,
	[Remarks] [nvarchar](max) NULL,
	[Done] [bit] NULL,
	[CompanyID] [nvarchar](10) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddUserID] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[EditUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaperSupplierInfo] PRIMARY KEY CLUSTERED 
(
	[PaperSupplierCode] ASC,
	[PaperSupplierTelephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [Acc].[ClientsInformation] ([ClientCode], [ClientName], [ClientAddress], [ClientCatagory], [Thana Code], [Zilla Code], [Telephone], [Mobile], [Email], [Web], [Notes], [Account Code], [Status], [SL], [Consern], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'00001', N'Panjeree Publications Ltd', N'43 Shilpacharya Zainul Abedin Sarak, Shantinagor, Dhaka', N'Press', N'00523', N'035', NULL, NULL, NULL, NULL, NULL, N'AS01002', N'Active', N'01', N'PPL', NULL, CAST(N'2023-11-03T11:25:15.430' AS DateTime), NULL, NULL, NULL)
INSERT [Acc].[ClientsInformation] ([ClientCode], [ClientName], [ClientAddress], [ClientCatagory], [Thana Code], [Zilla Code], [Telephone], [Mobile], [Email], [Web], [Notes], [Account Code], [Status], [SL], [Consern], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'00002', N'Panjeree Publications Ltd', N'43 Shilpacharya Zainul Abedin Sarak, Shantinagor, Dhaka', N'Binder', N'00226', N'035', NULL, NULL, NULL, NULL, NULL, N'AS01001', N'Active', NULL, N'PPL', NULL, CAST(N'2023-11-03T11:25:15.430' AS DateTime), NULL, NULL, NULL)
INSERT [Acc].[ClientsInformation] ([ClientCode], [ClientName], [ClientAddress], [ClientCatagory], [Thana Code], [Zilla Code], [Telephone], [Mobile], [Email], [Web], [Notes], [Account Code], [Status], [SL], [Consern], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'00003', N'Panjeree Publications Ltd', N'43 Shilpacharya Zainul Abedin Sarak, Shantinagor, Dhaka', N'Laminator', N'00226', N'035', NULL, NULL, NULL, NULL, NULL, N'AS01003', N'Active', NULL, N'PPL', NULL, CAST(N'2023-11-03T11:25:15.430' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [Inv].[LoadingUnloadingLabourBilllDetail] ON 

SET IDENTITY_INSERT [Inv].[LoadingUnloadingLabourBilllDetail] OFF
GO
SET IDENTITY_INSERT [prd].[PaperInfo] ON 

GO
SET IDENTITY_INSERT [prd].[PaperInfo] OFF
GO
INSERT [prd].[PaperSupplierInfo] ([PaperSupplierCode], [PaperSupplierName], [PaperSupplierNameB], [SupplierType], [PaperSupplierAddress], [PaperSupplierTelephone], [PaperSupplierProprietor], [AccountCode], [Remarks], [Done], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'001', N'Sonali Paper House', N'', N'Credit', N'30 ,Jindabahar 1st lane, Nayabazar', N'7392398, 018 - 217479', N'Mr. Sorwar', N'C002001', N'', 0, NULL, CAST(N'2023-11-03T11:16:47.763' AS DateTime), N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'')
INSERT [prd].[PaperSupplierInfo] ([PaperSupplierCode], [PaperSupplierName], [PaperSupplierNameB], [SupplierType], [PaperSupplierAddress], [PaperSupplierTelephone], [PaperSupplierProprietor], [AccountCode], [Remarks], [Done], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'002', N'Kagoj Bitan', N'', N'Credit', N'25, Jindabahar 1st lane, Nayabazar', N'7394338, 017 - 630326', N'Mr. Nasir', N'C002002', N'', 0, NULL, CAST(N'2023-11-03T11:16:47.807' AS DateTime), N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'')
INSERT [prd].[PaperSupplierInfo] ([PaperSupplierCode], [PaperSupplierName], [PaperSupplierNameB], [SupplierType], [PaperSupplierAddress], [PaperSupplierTelephone], [PaperSupplierProprietor], [AccountCode], [Remarks], [Done], [CompanyID], [AddDate], [AddUserID], [EditDate], [EditUserID]) VALUES (N'003', N'Hira Paper House', N'', N'Credit', N'4, Jumriel lane,  Armanitola ,Dhaka', N'7390801, 017 - 521269', N'Mr. Juku Mia', N'C002005', N'', 0, NULL, CAST(N'2023-11-03T11:16:47.853' AS DateTime), N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'')
GO
ALTER TABLE [Acc].[ClientsInformation] ADD  CONSTRAINT [DF_ClientsInformation_Company]  DEFAULT ((1002)) FOR [CompanyID]
GO
ALTER TABLE [Acc].[ClientsInformation] ADD  CONSTRAINT [DF_ClientsInformation_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [Acc].[ClientsInformation] ADD  CONSTRAINT [DF_ClientsInformation_AddUserID]  DEFAULT ('') FOR [AddUserID]
GO
ALTER TABLE [Acc].[ClientsInformation] ADD  CONSTRAINT [DF_ClientsInformation_EditDate]  DEFAULT (((1900)-(1))-(1)) FOR [EditDate]
GO
ALTER TABLE [Acc].[ClientsInformation] ADD  CONSTRAINT [DF_ClientsInformation_EditUserID]  DEFAULT ('') FOR [EditUserID]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_BillNo]  DEFAULT ('') FOR [BillNo]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_TrackNo]  DEFAULT ('') FOR [TrackNo]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_TotalBill]  DEFAULT ((0.00)) FOR [TotalBill]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_OtherBill]  DEFAULT ((0.00)) FOR [OtherBill]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_RollQty]  DEFAULT ((0)) FOR [RollQty]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_UnitPrice]  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_DeliveryDate]  DEFAULT (((1)/(1))/(1900)) FOR [DeliveryDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_RollQtyInKG]  DEFAULT ((0)) FOR [RollQtyInKG]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_PRMemoNo]  DEFAULT ('') FOR [PRMemoNo]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_AddUserID]  DEFAULT ('') FOR [AddUserID]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_EditDate]  DEFAULT (((1)/(1))/(1900)) FOR [EditDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllDetail] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllDetail_EditUserID]  DEFAULT ('') FOR [EditUserID]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_BillDate]  DEFAULT (N'01/01/1900') FOR [BillDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_DeliveryDate]  DEFAULT (((1)/(1))/(1900)) FOR [DeliveryDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Driver Name]  DEFAULT ('') FOR [Driver Name]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Remarks]  DEFAULT ('') FOR [Remarks]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Paper Supplier Code]  DEFAULT ('') FOR [Paper Supplier Code]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Total Chalan Qty]  DEFAULT ((0)) FOR [Total Chalan Qty]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_SupplierSerial]  DEFAULT ('') FOR [SupplierSerial]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_ReceiverAddress]  DEFAULT ('') FOR [ReceiverAddress]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Roll Qty in KG]  DEFAULT ((0)) FOR [Roll Qty in KG]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Paper Size]  DEFAULT ('') FOR [Paper Size]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Paper brand]  DEFAULT ('') FOR [Paper brand]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Paper Code]  DEFAULT ('') FOR [Paper Code]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_PR Memo No]  DEFAULT ('') FOR [PR Memo No]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_Paper Type]  DEFAULT ('') FOR [Paper Type]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_ChalanNo]  DEFAULT ('') FOR [ChalanNo]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_AddUserID]  DEFAULT ('') FOR [AddUserID]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_EditDate]  DEFAULT ('01-01-1900') FOR [EditDate]
GO
ALTER TABLE [Inv].[LoadingUnloadingLabourBilllInformation] ADD  CONSTRAINT [DF_LoadingUnloadingLabourBilllInformation_EditUserID]  DEFAULT ('') FOR [EditUserID]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperName]  DEFAULT ('') FOR [PaperName]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperType]  DEFAULT ('') FOR [PaperType]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperSize]  DEFAULT ('') FOR [PaperSize]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperWeight]  DEFAULT ('') FOR [PaperWeight]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperBrnad]  DEFAULT ('') FOR [PaperBrnad]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_Origin]  DEFAULT ('') FOR [Origin]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperUnitPrice]  DEFAULT ((0.00)) FOR [PaperUnitPrice]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_MaxPrice]  DEFAULT ((0.00)) FOR [MaxPrice]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_MinPrice]  DEFAULT ((0.00)) FOR [MinPrice]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_AvgPrice]  DEFAULT ((0.00)) FOR [AvgPrice]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperUnit]  DEFAULT ('') FOR [PaperUnit]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperUnitFactor]  DEFAULT ((0.00)) FOR [PaperUnitFactor]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaerUse]  DEFAULT ('') FOR [PaerUse]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_Done]  DEFAULT ((0)) FOR [Done]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_PaperCategory]  DEFAULT ('') FOR [PaperCategory]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_OriginType]  DEFAULT ('') FOR [OriginType]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_Status]  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_UserProject]  DEFAULT ('') FOR [UserProject]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_UseFor]  DEFAULT ('') FOR [UseFor]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_EntryDate]  DEFAULT ('1900-01-01') FOR [EntryDate]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_CreateUserId]  DEFAULT ('') FOR [CreateUserId]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_UpdateDate]  DEFAULT ('1900-01-01') FOR [UpdateDate]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_UpdateUserId]  DEFAULT ('') FOR [UpdateUserId]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_UniCode]  DEFAULT ('') FOR [UniCode]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_Group]  DEFAULT ('') FOR [Group]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_CompanyID]  DEFAULT ((1002)) FOR [CompanyID]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_AddDate_1]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_AddUserID]  DEFAULT ('') FOR [AddUserID]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_EditDate]  DEFAULT (((1900)-(1))-(1)) FOR [EditDate]
GO
ALTER TABLE [prd].[PaperInfo] ADD  CONSTRAINT [DF_PaperInfo_EditUserID]  DEFAULT ('') FOR [EditUserID]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierCode]  DEFAULT ('') FOR [PaperSupplierCode]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierName]  DEFAULT ('') FOR [PaperSupplierName]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierNameB]  DEFAULT ('') FOR [PaperSupplierNameB]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_SupplierType]  DEFAULT ('') FOR [SupplierType]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierAddress]  DEFAULT ('') FOR [PaperSupplierAddress]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierTelephone]  DEFAULT ('') FOR [PaperSupplierTelephone]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_PaperSupplierProprietor]  DEFAULT ('') FOR [PaperSupplierProprietor]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_AccountCode]  DEFAULT ('') FOR [AccountCode]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_Remarks]  DEFAULT ('') FOR [Remarks]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_Done]  DEFAULT ((0)) FOR [Done]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_CompanyID]  DEFAULT ((1002)) FOR [CompanyID]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_AddDate]  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_AddUserID]  DEFAULT ('') FOR [AddUserID]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_EditDate]  DEFAULT (((1900)-(1))-(1)) FOR [EditDate]
GO
ALTER TABLE [prd].[PaperSupplierInfo] ADD  CONSTRAINT [DF_PaperSupplierInfo_EditUserID]  DEFAULT ('') FOR [EditUserID]
GO
/****** Object:  StoredProcedure [Inv].[LoadingUnloadingBill]    Script Date: 26/12/2023 9:39:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Md. Ahasan Ullah NAHId>
-- Create date: <01-02-2023>
-- Description:	<Salary Info>
-- =============================================

-- =============================================
CREATE PROCEDURE [Inv].[LoadingUnloadingBill] 
-- Add the parameters for the stored procedure here--
	@Comp1	nchar(3)='BPL',	
	@Calltype nvarchar(250)='',	
	@Dxml01 xml = null,
	@Dxml02 xml = null,
	@Dbin01 varbinary(max) = null, 
	@Desc1 nvarchar(250)='',
	@Desc2 nvarchar(250)='',
	@Desc3 nvarchar(max)='',
	@Desc4 nvarchar(250)='',
	@Desc5 nvarchar(250)='',
	@Desc6 nvarchar(250)='',
	@Desc7 nvarchar(250)='',
	@Desc8 nvarchar(250)='',
	@Desc9 nvarchar(250)='',
	@Desc10 nvarchar(250)='',
	@Desc11 nvarchar(250)='',
	@Desc12 nvarchar(250)='',
	@Desc13 nvarchar(250)='',
	@Desc14 nvarchar(250)='',
	@Desc15 nvarchar(250)='',
	@Desc16 nvarchar(250)='',
	@Desc17 nvarchar(250)='',
	@Desc18 nvarchar(250)='',
	@Desc19 nvarchar(250)='',
	@Desc20 nvarchar(250)='',
	@Desc21 nvarchar(250)='',
	@Desc22 nvarchar(250)='',
	@UserID nvarchar(200)=''--***with encryption***--
	
	
AS
BEGIN
SET NOCOUNT ON;
declare  @date smalldatetime, @Date1 SmallDateTime, @Date2 SmallDateTime, @Date3 SmallDateTime, @Date4 SmallDateTime, @degit int, @pactcode nchar(12), @i int, @sqlquery1 nvarchar(4000),  @now datetime
  
if @callType ='ClientAddress' goto ClientAddress 
if @callType ='PaperDetail' goto PaperDetail 
if @callType ='INSERTMaster' goto INSERTMaster 
if @callType ='INSERTDetail' goto INSERTDetail 
if @callType ='List' goto List 
if @callType ='ListByIDMaster' goto ListByIDMaster 
if @callType ='ListByIDDetail' goto ListByIDDetail 
if @callType ='DeleteByID' goto DeleteByID 
 
set @CallType = char(13) + 'Section "' + @CallType + '" not found to execute-1'
raiserror(@CallType,16,1)
return



--    exec [INV].[LoadingUnloadingBill]  'BPL', PaperDetail, null, null, null,'A002' 

------------------------------------------------------------------------------ClientAddress-------------------------------------------------------------------
ClientAddress:
begin

SELECT ClientCode, ClientAddress FROM Acc.ClientsInformation WHERE        (ClientCode = @Desc1)

	end	
return

------------------------------------------------------------------------------PaperDetail-------------------------------------------------------------------
PaperDetail:
begin

SELECT  'Paper Type  :  ' + ISNULL(PaperType, '') + ' | Paper Size : ' + ISNULL(PaperSize, '') + ' | Paper Weight  : ' + ISNULL(PaperWeight, '') + ' | Paper Brnad : ' + ISNULL(PaperBrnad, '') AS PaperDetail
FROM            prd.PaperInfo
WHERE        (PaperCode = @Desc1)

	end	
return

INSERTMaster:
begin
if isnull((select count(*) from inv.LoadingUnloadingLabourBilllInformation where BillNo=@Desc1), 0) = 0
   begin
	   insert into inv.LoadingUnloadingLabourBilllInformation (BillNo, SupplierSerial, BillDate, DeliveryDate, ChalanNo, DeliveryTime, ClientCode, ReceiverAddress, [Paper Supplier Code], [Paper Code], AddDate, AddUserID) 
			values (@Desc1,@Desc2,@Desc3,@Desc4,@Desc5,@Desc6,@Desc7,@Desc8,@Desc9,@Desc10,getdate(),@Desc11)
			end 

	 else 
	  begin
	      Update Inv.LoadingUnloadingLabourBilllInformation set SupplierSerial=@Desc2, BillDate=@Desc3, DeliveryDate=@Desc4, ChalanNo=@Desc5, DeliveryTime=@Desc6, ClientCode=@Desc7, ReceiverAddress=@Desc8, [Paper Supplier Code]=@Desc9, [Paper Code]=@Desc10, EditDate=getdate(), EditUserID=@Desc11 where BillNo=@desc1
	  end
	
end
return

INSERTDetail:
begin

if isnull((select count(*) from Inv.LoadingUnloadingLabourBilllDetail where ID=CONVERT(int, @Desc8)), 0) = 0
   begin
	   insert into Inv.LoadingUnloadingLabourBilllDetail (BillNo, TrackNo, RollQtyInKG, RollQty, UnitPrice, TotalBill, AddDate, AddUserID) 
			values (@Desc1,@Desc2,CONVERT(decimal, @Desc3),CONVERT(decimal,@Desc4),CONVERT(decimal,@Desc5),CONVERT(decimal,@Desc6),getdate(),@Desc7)
			end 

	 else 
	  begin
	  
	      UPDATE Inv.LoadingUnloadingLabourBilllDetail SET TrackNo=@Desc2, RollQtyInKG=@Desc3, RollQty=@Desc4, UnitPrice=@Desc5, TotalBill=@Desc6, EditDate=getdate(), EditUserID=@Desc7 WHERE ID=CONVERT(int, @Desc8)
	      		  
	  end	
end
return

List:
begin

SELECT        Inv.LoadingUnloadingLabourBilllInformation.BillNo, CONVERT(CHAR(10), Inv.LoadingUnloadingLabourBilllInformation.BillDate, 103) as BillDate, Acc.ClientsInformation.ClientName, prd.PaperSupplierInfo.PaperSupplierName, 
                    CONVERT(CHAR(10), Inv.LoadingUnloadingLabourBilllInformation.DeliveryDate, 103) as DeliveryDate, SUM(Inv.LoadingUnloadingLabourBilllDetail.TotalBill) AS TotalAmount
FROM            Inv.LoadingUnloadingLabourBilllDetail INNER JOIN
                         Inv.LoadingUnloadingLabourBilllInformation ON Inv.LoadingUnloadingLabourBilllDetail.BillNo = Inv.LoadingUnloadingLabourBilllInformation.BillNo INNER JOIN
                         Acc.ClientsInformation ON Inv.LoadingUnloadingLabourBilllInformation.ClientCode = Acc.ClientsInformation.ClientCode INNER JOIN
                         prd.PaperSupplierInfo ON Inv.LoadingUnloadingLabourBilllInformation.[Paper Supplier Code] = prd.PaperSupplierInfo.PaperSupplierCode
GROUP BY Inv.LoadingUnloadingLabourBilllInformation.BillNo, Inv.LoadingUnloadingLabourBilllInformation.BillDate, Acc.ClientsInformation.ClientName, prd.PaperSupplierInfo.PaperSupplierName, 
                         Inv.LoadingUnloadingLabourBilllInformation.DeliveryDate

end
return


ListByIDMaster:
begin


SELECT        Inv.LoadingUnloadingLabourBilllInformation.BillNo, CONVERT(CHAR(10), Inv.LoadingUnloadingLabourBilllInformation.BillDate, 103) as BillDate, Inv.LoadingUnloadingLabourBilllInformation.ClientCode, CONVERT(CHAR(10), Inv.LoadingUnloadingLabourBilllInformation.DeliveryDate, 103) as DeliveryDate, 
                         Inv.LoadingUnloadingLabourBilllInformation.DeliveryTime, Inv.LoadingUnloadingLabourBilllInformation.[Paper Supplier Code] as SupplierCode, Inv.LoadingUnloadingLabourBilllInformation.ReceiverAddress, 
                         Inv.LoadingUnloadingLabourBilllInformation.SupplierSerial, Inv.LoadingUnloadingLabourBilllInformation.[Paper Code] as PaperCode, Inv.LoadingUnloadingLabourBilllInformation.ChalanNo, Acc.ClientsInformation.ClientAddress, 
                         'Paper Type  :  ' + ISNULL(prd.PaperInfo.PaperType, N'') + ' | Paper Size : ' + ISNULL(prd.PaperInfo.PaperSize, N'') + ' | Paper Weight  : ' + ISNULL(prd.PaperInfo.PaperWeight, N'') 
                         + ' | Paper Brnad : ' + ISNULL(prd.PaperInfo.PaperBrnad, N'') AS PaperDetail
FROM            Inv.LoadingUnloadingLabourBilllInformation INNER JOIN
                         Acc.ClientsInformation ON Inv.LoadingUnloadingLabourBilllInformation.ClientCode = Acc.ClientsInformation.ClientCode INNER JOIN
                         prd.PaperInfo ON Inv.LoadingUnloadingLabourBilllInformation.[Paper Code] = prd.PaperInfo.PaperCode
WHERE        (Inv.LoadingUnloadingLabourBilllInformation.BillNo = @Desc1)


end
return

ListByIDDetail:
begin

SELECT        ID,BillNo, TrackNo, RollQtyInKG, UnitPrice, RollQty, TotalBill
FROM            Inv.LoadingUnloadingLabourBilllDetail
WHERE        (BillNo = @Desc1)

end
return

DeleteByID:
begin

delete from Inv.LoadingUnloadingLabourBilllDetail WHERE ID = CONVERT(bigint, @Desc1)

end
return


END















GO
